.Application {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Application-header {
  margin-bottom: 0;
}

.Application-main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.Application-sidebar {

}

.Application-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }
}
