{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-unused-vars": 0,
    "no-shadow": 0
  }
}
