<div class="Conversation">
  <div class="Conversation-title">
    {{#each conversation.participants as |participant|}}
      <span class="bold"><i class="md md-person"></i> {{ participant.firstName }} {{ participant.lastName }}</span>
    {{/each}}
  </div>
  <div class="Conversation-messages">
    {{#each conversation.messages as |message|}}
      {{ko-conversation/message message=message currentUser=currentUser}}
    {{/each}}
  </div>
</div>
