<div class="ContactsListContact">
    <div class="ContactsListContact-avatar">
        <img src="{{ user.image }}" class="ContactsListContact-image img-circle border-white" width="40">
    </div>
    <div class="ContactsListContact-name">
        {{ user.firstName }} {{ user.lastName }}
    </div>
    <div class="ContactsListContact-icon">
        <i class="md md-comment text-muted"></i>
    </div>
</div>
