<div class="ContactsList">
  <ul class="ContactsList-list">
    {{#each items as |item|}}
    <li class="ContactsList-item">
      {{ko-contacts-list/contact
        text=item.text
        image=item.image
        icon=item.icon
        disabled=item.disabled
        selected=item.selected
        action="chooseItem"
        param=item
      }}
    </li>
    {{/each}}
  </ul>
</div>
