<div class="ConversationView">
  <div class="ConversationView-messages">
    {{ko-conversation
      conversation=model.model
      currentUser=currentUser
      close="close"
    }}
  </div>
  <div class="ConversationView-send">
    {{ko-message-field
      value=model.viewModel.draft
      focused=true
      action="sendMessage"
    }}
  </div>
</div>
