<div class="ConversationView">
  <div class="ConversationView-messages">
    {{ko-conversation conversation=model.conversation currentUser=model.currentUser}}
  </div>
  <div class="ConversationView-send">
    {{ko-message-field value=inputMessage action="sendMessage"}}
  </div>
</div>
