<div class="ConversationView">
  {{ko-conversation-editor
    conversation=model
    currentUser=currentUser
    draft=state.draft
    sendRequested="sendMessage"
    closeRequested="close"
  }}
</div>
