<div class="Conversation">
  <div class="Conversation-title">
    {{#each conversation.participants key="id" as |participant|}}
    <span class="bold">
      <i class="zmdi zmdi-account"></i> {{full-name participant }}
    </span>
    {{/each}}
    <span class="Conversation-closeButton pull-right"
      {{action "onClose"}}
    >
      <i class="zmdi zmdi-close-circle"></i>
    </span>
  </div>
  <div class="Conversation-messages">
    {{#each conversation.messages key="id" as |message|}}
      {{ko-conversation-editor/conversation/message
        message=message
        currentUser=currentUser
      }}
    {{/each}}
  </div>
</div>
