<div class="Conversation">
  <div class="Conversation-messages">
    <ul class="Conversation-message-list">
      {{#each model.messages as |message|}}
      <li class="alert alert-info Conversation-message">
        {{ message.text }}
      </li>
      {{/each}}
    </ul>
  </div>
  <form class="Conversation-send"
    {{action 'sendMessage' inputMessage on='submit'}}
  >
    <div class="form-group Conversation-sendInputContainer">
      {{input type="text" class="form-control Conversation-sendInput" value=inputMessage placeholder="Type a message…"}}
    </div>
    <div class="form-group Conversation-sendButtonContainer">
      <button type="submit" class="btn btn-default Conversation-sendButton">Send</button>
    </div>
  </form>
</div>
